$green-0: rgb(0, 70, 4);
$green-1: rgb(15, 112, 17);
$green-2: rgb(51, 205, 51);
$green-3: rgb(70, 255, 70);

$blue-1: #006dc9;
$blue-2: #4de6ff;

$orange-1: #f1732d;
$orange-2: #f5c359;

$pink-1: #f2597c;
$pink-2: #c85895;
$pink-3: #945c9c;


$white: rgb(255, 255, 255);
$almost-white: #f7f7f7;
$almost-white-2: #eee;
$grey: #777;
$grey-2: #999;
$black: rgb(0,0,0);

// FONT
$default-font-size: 1.6rem;
$Work-Sans: 'Work Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$Oswald: 'Oswald', Impact, 'Franklin Gothic Bold', sans-serif;