.btn{
    &:link,
    &:visited{
        font-family: 'Oswald', Impact, 'Franklin Gothic Bold', sans-serif;
        font-size: $default-font-size;
        font-weight: 300;
        letter-spacing: 1px;
        border-radius: 5px;

        /* gives necessary space to padding */
        display: inline-block;
        
        animation: fadeIn 0.8s ease-in-out;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover{
        transform: translateY(-2px); 
        box-shadow: 0 4px 6px rgba(0,0,0,.2);
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
    }

    &--green{
        background-color: rgb(15, 112, 17);
        color: white;
        padding: 1rem 3.5rem;
    }

    &--white{
        background-color: white;
        color: black;
        padding: 1rem 2rem;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-family: $Oswald;
        font-weight: 300;
        font-size: 1.8rem;
        color: $green-2;
        text-decoration: none;
        border-bottom: 1px solid $green-2;

        /* box-model property usable */
        display: inline-block;
        padding: 3px;

        transition: all .2s;
    }

    &:hover{
        background-color: $green-2;
        color: white;
        box-shadow: 0 1rem 2rem rgba($black, 0.15);
        transform: translateY(-2px)
    }

    &:active{

    }
}